kurama9tAnimeBot/config.py
kurama9tAnimeBot/*.session
kurama9tAnimeBot/*.session-journal
kurama9tAnimeBot/config.ini
log.txt
*.pyc
.idea/
.project
.pydevproject
.directory
.vscode
kurama9tAnimeBot/modules/helper_funcs/temp.txt
kurama9tAnimeBot/elevated_users.json
start-3.6.bat
*.session
kangsticker.png
venv
env
kurama9t.session-journal
updates.txt
*.exe